body, html {
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



@font-face {
  font-family: 'titillium_webextralight';
  src: url('fonts/titilliumweb-extralight-webfont.woff2') format('woff2'),
  url('fonts/titilliumweb-extralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'titillium_webregular';
  src: url('fonts/titilliumweb-regular-webfont.woff2') format('woff2'),
  url('fonts/titilliumweb-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}